Button {
    -fx-background-color: #89CC34;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px
}

Button:hover {
    -fx-background-color: #45661A;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}