Button {
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_profile, #button_log_out {
    -fx-background-color: #F5E8C7;
}

#button_profile:hover, #button_log_out:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_users, #button_create_account, #button_statistics {
    -fx-background-color: #435585;
}

#button_users:hover, #button_create_account:hover, #button_statistics:hover {
    -fx-background-color: #363062;
}