Button, TextField {
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #435585;
    -fx-background-radius: 10px;
}

TextField {
    -fx-background-color: #363062;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

Button:hover {
    -fx-background-color: #363062;
}

#label_questionNumber, #label_points, #label_question, #label_timer, RadioButton {
    -fx-background-color: #363062;
    -fx-background-radius: 20px;
}