Button, TextField {
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #8A41AC;
    -fx-border-color: black;
    -fx-border-radius: 20px;
}

TextField {
    -fx-background-color: #39004d;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

Button:hover {
    -fx-background-color: #39004d;
}

#label_questionNumber, #label_points, #label_question, #label_timer, RadioButton {
    -fx-background-color: #39004d;
    -fx-background-radius: 20px;
}