TextField, PasswordField {
    -fx-background-color: #363062;
    -fx-text-fill: white;
}

Button, ToggleButton {
    -fx-background-color: #435585;
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

Button:hover, ToggleButton:hover {
    -fx-background-color: #363062;
}

