TextField, TextArea {
    -fx-background-color: #363062;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}

Button, ToggleButton {
    -fx-background-radius: 10px;
}

Button {
    -fx-background-color: #435585;
}

Button:hover {
    -fx-background-color: #363062;
}

ToggleButton {
    -fx-background-color: #818FB4;
}

ToggleButton:hover {
    -fx-background-color: #363062;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

