TextField {
    -fx-background-color: #39004d;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #8A41AC;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffffff;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_profile:hover, #button_log_out:hover {
    -fx-text-fill: #39004d;
}

#button_go {
    -fx-border-color: black;
}

#button_go:hover {
    -fx-background-color: #39004d;
}

