Button {
    -fx-background-color: #435585;
    -fx-background-radius: 10px;
}

Button:hover {
    -fx-background-color: #363062;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}