TextField {
    /*-fx-background-color: #39004d;*/
    -fx-text-fill: white;
}

Button {
    -fx-background-radius: 21px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_delete {
    -fx-background-color: #EF2929;
}

#button_edit {
    -fx-background-color: #E4CF0A;
}

#button_cancel {
    -fx-background-color: #a3a3c2;
}

#button_save {
    -fx-background-color: #89CC34;
}

#button_back {
    -fx-background-color: #8A41AC;
}

#button_delete:hover {
    -fx-background-color: #991f00;
}

#button_edit:hover {
    -fx-background-color: #808000;
}

#button_cancel:hover {
    -fx-background-color: #3d3d5c;
}

#button_save:hover {
    -fx-background-color: #004d1a;
}

#button_back:hover {
    -fx-background-color: #39004d;
}

#button_edit_username, #button_edit_firstName, #button_edit_lastName, #button_edit_email, #button_edit_phone {
    -fx-border-color: #8A41AC;
    -fx-background-color: #8A41AC;
}