TextField {
    -fx-background-color: #435585;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

Button {
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_delete, #button_edit, #button_cancel, #button_save {
    -fx-background-color: #818FB4;
}

#button_delete:hover, #button_edit:hover, #button_cancel:hover, #button_save:hover {
    -fx-background-color: #363062;

}

#button_edit_username, #button_edit_firstName, #button_edit_lastName, #button_edit_email, #button_edit_phone {
    -fx-background-color: #435585;
}