Button {
    -fx-background-color: #8A41AC;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffffff;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_profile:hover, #button_log_out:hover {
    -fx-text-fill: #39004d;
}

#button_my_tests, #button_users, #button_create_test, #button_create_account {
    -fx-border-color: black;
}

#button_my_tests:hover, #button_users:hover, #button_create_test:hover, #button_create_account:hover {
    -fx-background-color: #39004d;
}


