.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

#button_leaderboard, #button_statistics, #button_delete_test, #button_edit {
    -fx-background-color: #818FB4;
}

#button_leaderboard:hover, #button_statistics:hover, #button_delete_test:hover, #button_edit:hover {
    -fx-background-color: #435585;
}